HOST=85.209.0.78
PORT=4000
DATABASE_URL=postgres://postgres:postgres@85.209.0.78:5432/rbw
PGHOST=85.209.0.78
PGPORT=5432
PGDATABASE=rbw
PGUSER=postgres
PGPASSWORD=postgres
PGSSL=false
CORS_ORIGIN=http://85.209.0.78:5173
